.main {
  display: grid;
  grid-template-columns: 250px auto [end];
  grid-template-rows: [row1] 60px auto [last-line];

  min-height: 100vh;
  max-width: 100vw;
  font-size: 24px;
  color: #fff;
  background-color: #fff;
}

.header {
  grid-column: span 5;
  background-color: #0f0f0f;
}

.left-menu {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  background-color: #dae2e8;
  padding: 30px;
  color: #0f0f0f;
}

.sub-grid {
  grid-column: 2 / 6;
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: auto;
  grid-gap: 20px;

  padding-top: 24px;
  justify-content: space-around;
}

.sub-grid > div {
  height: 300px;
  width: 100%;
  background-image: url("http://placekitten.com/300/300");
  margin: auto;
}

.subtitle {
  font-size: 12px;
}

@media (max-width: 1600px) {
  .sub-grid {
    grid-template-columns: repeat(4, 250px);
  }

  .sub-grid div {
    background-image: url("http://placekitten.com/250/250");
  }
}

@media (max-width: 1350px) {
  .sub-grid {
    grid-template-columns: repeat(3, 250px);
    padding: 0;
    grid-gap: 8px;
  }
}

@media (max-width: 1024px) {
  .sub-grid {
    grid-column: 1 / 6;
    grid-template-columns: repeat(2, 350px);
    grid-gap: 8px;
    justify-content: space-around;
  }

  .left-menu {
    display: none;
  }
}
